@import "../../lib/mixins";

.mainContainer {
  height: min-content;
  width: 100%;
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
  padding-bottom: 0;
  padding-top: 8rem;

  @include respond(phone) {
    flex-direction: column;
    padding: 1.5rem;
    padding-top: 7rem;
    gap: 3rem;
  }
}

.flexContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  position: relative;
}

.headingContainer {
  display: flex;
  flex-direction: column;
}

.mainHeadingContainer {
  display: flex;
  flex-direction: column;
}

.mainHeader {
  font-size: 5rem;
  color: var(--heading);
  font-weight: 700;
  line-height: 0.9em;
  max-width: 600px;
  letter-spacing: -1px;
  font-family: var(--fam-font);
  text-transform: uppercase;
  margin-bottom: 1rem;

  @include respond(phone) {
    font-size: 2.8rem;
    margin-bottom: 0;
  }
}

.mainParagraph {
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 2px;
  max-width: 700px;
  text-align: justify;
  text-transform: uppercase;

  @include respond(phone) {
    font-size: 0.65rem;
  }
}

.projectButton {
  display: flex;
  padding: 1rem;
  height: 3rem;
  border-radius: 1.25rem;
  justify-content: center;
  align-items: center;
  min-width: 9rem;
  background-color: var(--heading);
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--border);
    background-color: var(--background);
    color: var(--heading);
  }

  &:hover .buttonText {
    color: var(--heading);
  }

  @include respond(phone) {
    width: 50%;
  }
}

.buttonText {
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  color: var(--background);
}

.projectAlternativeButton {
  display: flex;
  padding: 1rem;
  height: 3rem;
  border-radius: 1.25rem;
  justify-content: center;
  align-items: center;
  min-width: 9rem;
  border: 1px solid var(--border);
  white-space: nowrap;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  color: var(--heading);

  &:hover {
    background-color: var(--heading);
    border: none;
    color: var(--background);
  }

  @include respond(phone) {
    width: 50%;
  }
}

.alternativeButtonText {
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  color: var(--heading);
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
  color: var(--heading);
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.projectImageContainer {
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 1.25rem;
  outline: 1px solid var(--border);

  @include respond(tab-land) {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    outline: 1px solid var(--border);
  }
}

.projectImage {
  object-fit: cover;
  cursor: pointer;
  &:hover {
    border: 1px solid var(--blue);
    padding: 1rem;
    border-radius: 1.25rem;
  }
}

.projectContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  position: relative;
  flex: none;
  align-content: center;
  align-items: center;
  gap: 3rem;
  height: min-content;
  justify-content: center;
  width: 100%;
  outline: solid 1px var(--border);
  border-radius: 1.25rem;
  padding: 2rem;

  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
    padding: 0;
    outline: none;
    gap: 1rem;

    &:nth-of-type(even) {
      flex-direction: column-reverse;
    }
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  border-radius: 1.25rem;
  padding: 2rem 0 2rem 0;
  max-width: 450px;

  @include respond(tab-port) {
    gap: 0.5rem;
    padding: 0.5rem 0;
  }
}

.skillImage {
  display: flex;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.2rem;
  filter: brightness(0) saturate(100%) invert(61%) sepia(8%) saturate(520%)
    hue-rotate(167deg) brightness(92%) contrast(90%);

  @include respond(phone) {
    padding: 0.3rem;
  }
}

.projectDescriptionContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.25rem;
  width: 100%;

  @include respond(phone) {
    gap: 1rem;
  }
}

.projectDescriptionHeader {
  font-size: 2.5rem;
  color: var(--heading);
  font-family: var(--fam-font);
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: -1px;
}

.projectDescriptionParagraph {
  color: var(--paragraph);
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-align: justify;
  max-width: 450px;

  @include respond(tab-land) {
    max-width: none;
  }

  @include respond(phone) {
    font-size: 1rem;
    max-width: 500px;
  }
}

.projectDescriptionParagraphWarning {
  @extend .projectDescriptionParagraph;
  color: red;
  font-size: 1rem;
}
