.mainFlexContainer {
  display: flex;
  padding: 3rem;
}

.flexLeftContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.landingPrimaryHeading {
  font-size: 2.5rem;
  color: var(--heading);
  font-weight: 500;
  line-height: 1.2em;
  width: 600px;
  letter-spacing: -2px;
}

.landingParagraph1,
.landingParagraph2 {
  width: 660px;
  color: var(--paragraph);
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-align: justify;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
  color: var(--heading);
}

.landingSecondaryHeadingContainer {
  position: relative;
  overflow: hidden;
  height: 3.2rem;
}

.landingSecondaryHeadingText {
  position: absolute;
  opacity: 0;
  animation: slideme 16s infinite;
  color: var(--paragraph);
  line-height: 1.5;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: -2px;
}

.landingSecondaryHeadingText:nth-child(2) {
  animation-delay: 2s;
}
.landingSecondaryHeadingText:nth-child(3) {
  animation-delay: 4s;
}
.landingSecondaryHeadingText:nth-child(4) {
  animation-delay: 6s;
}
.landingSecondaryHeadingText:nth-child(5) {
  animation-delay: 8s;
}
.landingSecondaryHeadingText:nth-child(6) {
  animation-delay: 10s;
}
.landingSecondaryHeadingText:nth-child(7) {
  animation-delay: 12s;
}
.landingSecondaryHeadingText:nth-child(8) {
  animation-delay: 14s;
}

@keyframes slideme {
  0% {
    top: -30px;
    opacity: 0;
  }
  3% {
    top: 0px;
    opacity: 0.8;
  }
  5% {
    top: 0;
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  12% {
    opacity: 1;
    top: 0;
  }
  15% {
    opacity: 0;
    top: 15px;
  }
}
