.container {
  min-height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.headingContainer {
  display: flex;
  flex-direction: column;
}

.introContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.introHeading {
  color: var(--cardsText);
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.introParagraph {
  color: var(--paragraph);
  text-align: justify;
}

.skillsUpperParagraph {
  color: var(--paragraph);
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 0.875rem;
  line-height: 1rem;
}

.heading {
  font-size: 3rem;
  color: var(--cardsText);
  font-family: var(--familjen-font);
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.skillsBottomParagraph {
  color: var(--paragraph);
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin-top: 1rem;
  grid-gap: 1px;
}

.skillContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  outline: solid 1px var(--paragraph);
}

.skillImageContainer {
  display: flex;
  aspect-ratio: 21/9;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1rem;
}

.skillImage {
  height: auto;
  width: auto;
  filter: brightness(0) saturate(100%) invert(61%) sepia(8%) saturate(520%)
    hue-rotate(167deg) brightness(92%) contrast(90%);
}

.skillDescriptionContainer {
  display: flex;
  flex-direction: column;
}

.skillLayerContainer {
  display: flex;
  letter-spacing: 0.1em;
}

.skillLayer {
  text-transform: uppercase;
  font-size: 0.875rem;
  color: var(--paragraph);
}

.skillNameContainer {
  display: flex;
}

.skillName {
  color: var(--cardsText);
  font-size: 1.125rem;
}
