@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../lib/mixins";

:root {
  --gray-500: #2d3034;
  --gray-400: #282b2f;
  --gray-300: #33363b;
  --gray-200: #3a3b40;
  --gray-100: #9d9d9d;
  --cream: #fdeade;
  --cta: #fff27a;
  --background: #121212;
  --cards: #181818;
  --heading: #ffffff;
  --paragraph: #86939f;
  --blue: #0065fa;
  --border: #2a333c;
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: var(--inter-font);
  scroll-behavior: smooth;
}

.customContainer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .customContainer {
    max-width: 1200px;
  }
}
