@import "../../lib/mixins";

.outerContainer {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px var(--border) solid;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);

  @include respond(phone) {
    height: 4rem;
  }
}

.navbarContainer {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 3rem;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @include respond(phone) {
    padding: 1.5rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover .logoIcon {
    filter: invert(25%) sepia(84%) saturate(4008%) hue-rotate(209deg)
      brightness(100%) contrast(102%);
  }
}

.logoIcon {
  margin-right: 0.5rem;
  filter: invert(100%) sepia(35%) saturate(2%) hue-rotate(47deg)
    brightness(111%) contrast(101%);
}

.logoText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.portfolioDescription {
  font-size: 0.6rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: var(--paragraph);
  line-height: 1;
}

.logoTop {
  text-transform: uppercase;
  font-size: 0.875rem;
  color: var(--paragraph);
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: 1.2em;
  text-align: left;
}

.logoBottom {
  text-transform: uppercase;
  color: var(--heading);
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 1em;
  text-align: left;
}

.rightContainer {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.icons {
  display: flex;
  gap: 0.5rem;
}

.navigation {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.icon {
  display: flex;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.2rem;
  border-radius: 1.25rem;
  filter: brightness(0) saturate(100%) invert(61%) sepia(8%) saturate(520%)
    hue-rotate(167deg) brightness(92%) contrast(90%);

  &:hover {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7476%)
      hue-rotate(110deg) brightness(98%) contrast(108%);
  }
}

.navigationLink {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--heading);
  font-family: var(--familjen-font);
  padding: 0 0.8rem;
  height: 2.5rem;

  &:hover {
    background-color: var(--border);
    border-radius: 0.5rem;
  }
}
